body{
    background-color:aqua;
}

h1{
    color: black;
    font-size: 50px;
    text-align: center;

}

p{
    color:  rgb(1, 1, 91);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}